.faq-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
    gap: 10px;
}

.faq{
    background-color: rgb(240, 240, 240);
    padding: 5px;
}

.text-center{
    text-align: center;
}

@media screen and (min-width:612px) and (max-width:991px){
    .faq-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 10px;
        gap: 10px;
    }
}

@media screen and (max-width:611px){
    .faq-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 10px;
        gap: 10px;
    }
}