.content img{
    width: 320px;
    height: 200px;
}

.content{
   border: 2px solid rgb(206, 206, 206);
   padding: 10px;
}

.content button{
    width: 100%;
    height: 5vh;
    font-size: 15px;
    font-weight: bold;
    border:none;
    cursor: pointer;
    background-color: antiquewhite;


}